<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" type="text/css" href="SignInStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="container">
        <img src="railway.png" class="train">
        <h2>Sign Up</h2>
        <div class="social-container">
            <a href="#" class="social"><i class="fa fa-google fa-2x"></i></a>
            <a href="#" class="social"><i class="fa fa fa-facebook fa-2x"></i></a><p>or</p>
        </div>
        <form id="form">
            <p class="email">Email</p>
            <input type="email" name="email" id="email" placeholder="abc@gmail.com" required>

            <p class="pass">Password</p>
            <input type="password"  name="password" id="password" placeholder="Enter Password" required>

            <p class="conpass">Confirm Password</p>
            <input type="password"  name="NewPassword" id="NewPassword" placeholder="Confirm Password" required>

            <input type="submit" name="" value="SignIn" onclick="matchPassword()" />
            <p class="or"> </p>

            <a href="login.html">Already have an account?</a>
        </form>
    </div>
</body>
<script>
function matchPassword() {
  var pw1 = document.getElementById("password");
  var pw2 = document.getElementById("NewPassword");
  var form = document.getElementById("form");
  if(pw1.value != pw2.value)
  {
    pw2.setCustomValidity("Passwords Don't Match");
    return false;
  }
  else{
       window.location.href=login.html;
       return true;
      }

}
    </script>
</html>