<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="logstyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface|Poppins">
</head>
<body>
    <div class="loginbox">
        <img src="railway.png" class="train">
        <h2>LogIn</h2>
        <form action="#" th:action="@{/check}" method="POST">
            <p>Email</p>
            <input type="email" name="useremail" placeholder="abc@gmail.com" required>
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter Password" required>
            <input type="submit" name="" value="LogIn" />
            <span>or</span>
            <a th:href = "@{/signup}" class="btn btn-primary btn-sm mb-3"> don't have account? </a>
        </form>
    </div>
</body>
</html>